<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miles.milsrespoli.mapper.SysInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.miles.milsrespoli.dto.SysInfoDTO">
        <id column="id" property="id" />
        <result column="logo" property="logo" />
        <result column="thanks_to" property="thanksTo" />
        <result column="timeline" property="timeline" />
        <result column="ilsim_image" property="ilsimImage" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
 id,  logo,  thanks_to,  timeline,  ilsim_image
    </sql>
</mapper>
