<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miles.milsrespoli.mapper.VakifMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.miles.milsrespoli.dto.VakifDTO">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="telephone" property="telephone" />
        <result column="address" property="address" />
        <result column="toplan_mil" property="toplanMil" />
        <result column="kalan_mil" property="kalanMil" />
        <result column="mil_kaynak" property="milKaynak" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
 id,  name,  telefon,  address,  toplan_mil,  kalan_mil,  mil_kaynak,  status
    </sql>
</mapper>
